* {
    box-sizing: border-box;
}

.hero {
    height: 80vh;
    background: linear-gradient(to right, #000000, #2e2e2e);
    padding: 40px 0;
}

.highlight {
    color: #00d4ff;
}

section h2 {
    font-size: 2.2rem;
}

.card {
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.email {
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
}

.email:hover {
    text-decoration: underline;
    color: #00d4ff;
}
